<div>
    <h2>Tic tac toe</h2>
    
    <!-- main screen -->
    <div class="main">
      <a href="#" 
         class="button">
         Start
      </a>
    </div><!-- end main screen -->
  
    <!-- boarde -->
    <div>
      <ul>
        <li class="kz-border-bottom kz-border-right kz-img-x"></li>
        <li class="kz-border-bottom kz-border-right kz-img-o"></li>
        <li class="kz-border-bottom"></li>
        <li class="kz-border-bottom kz-border-right"></li>
        <li class="kz-border-bottom kz-border-right"></li>
        <li class="kz-border-bottom"></li>
        <li class="kz-border-right"></li>
        <li class="kz-border-right"></li>
        <li></li>
      </ul>
    </div><!-- end board --> 
  
    <!-- final screen -->
    <div>
      <span>
      <p>You win!!!</p>
      <p>You lose...</p>
      <p>The game ended in a draw...</p>
      <br />
      <a href="#" 
           class="button">
           Play again
        </a>
      </span>
    </div><!-- end final screen -->
  
  </div>